h1, p{
    margin:0;
}
body {
font-family: 'Open Sans', sans-serif;
padding:0;
margin:0;
background-color: #AB4949;
}

.header{
display: flex;
justify-content: space-between;
background-color: #000;   
max-width: 1510px;
    margin: 0 auto; 
}

.header__logo {
    padding-left: 115px;
}

.link__nav {
    /* margin-right: 57px; */
    height: 75px;
    line-height: 75px;
    width: 113px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

.link__nav:nth-child(5) {
   margin-right: 170px;
}

.nav__header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link__nav:hover {
background-color: #EC7979;
height: 75px;
width: 113px;
text-align: center;
line-height: 75px;
align-self: center;
transition: color 0,7s;
}

.link__nav:active {
    background-color: #AB4949;
    transition: color 0,7s;
    }

.modern__bg {
    max-width: 1510px;
    margin: 0 auto;
    height: 1026px;
    background-image:url(./img/bg__black.png), url(./img/bg.png) ;
    /* background-repeat:no-repeat; */

    
}

.axit__logo {
/* padding-top: 231px; */
padding-left: 170px;
}

.axit__title {
margin: 0;
padding-left: 170px;
padding-top: 51px;   
width: 670px;
/* height: 168px; */
color: #fff;
font-family: 'Raleway', sans-serif;
font-weight: 500;
font-size: 48px;
}

.axit__border {
    margin-top: 55px;
    margin-left: 170px;
    width: 170px;
    border: 1px solid #fff;
    
}

.axit__text {
    margin-left: 170px;
    margin-top: 42px;
    width: 270px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.axit__buttom-download {
    margin-left: 170px;   
 margin-top: 42px;
 width: 270px;
 height: 58px;
 background: none;
 border: 3px solid #fff;
 color: #fff;
 font-size: 18px;
 font-family: 'Open Sans', sans-serif;
 cursor: pointer;
}

.axit__buttom-download:hover {
    color:#EC7979;
    border: 3px solid #EC7979;  
}

.axit__buttom-download:active {
    background-color:#AB4949;
    color: #fff;
    border: 3px solid #AB4949; 
}

.axit__form-wrapper {
    margin-left: 30px;
  width: 470px;
  height: 450px;  
  background-color: #fff;
  border-radius: 10px;
}

.form__free {
    padding-left: 50px;
    padding-right: 50px;
    width: 367px;    
    height: 90px;
    line-height: 90px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #333333;
}

.color__free {
color :#EC7979;
}

.form__input {
    margin-left: 50px;
    margin-right: 50px;
    border: 0;
    line-height: 39px;
    border-bottom: 1px solid #BDBDBD;
    width: 370px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-top: 33px;
}

.form__get {
    margin-top: 75px;
    width: 470px;
    height: 60px;
    background-color: #EC7979;
    text-align: center;
    line-height: 60px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.form__get:hover{
    background-color: #AB4949;
}

.modern__wrapper {
    display: flex;
    padding-top: 208px;

}